* { margin: 0; padding: 0; box-sizing: border-box; }
body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: white;
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
}

header {
}
footer {
    text-align: center;
    background-color: #f4f4f4;
    height: 10vh;
    padding: 20px;
    border-top: 2px solid #ccc;
}
.s1,.s2 {
    margin-left: 0 !important;
}
.start:hover {
    background-color: #333 !important;
}
div.nav {
    text-align: center;
}
.hname {
    color: #9ACAE0 !important;
}
.hname:hover {
    background-color: #333 !important;
}
ul#nav {
    list-style-type: none;
    width: 100vw;
    display: flex; /* Use flexbox for centering */
    justify-content: flex-start; /* Center items */
    padding: 0;
    margin: 0;
    height: 60px; /* Set a height for the nav */
    font-size: 30px;
    font-weight: 300;
    align-items: stretch;
    border: 2px solid red;
}

ul#nav li {
    display: flex; /* Make li flex to adjust height */
    align-items: stretch;
    margin: 0% 2%; /* Adjust horizontal spacing */
    height: 100%;
    border: 2px solid red;
}

ul#nav li a {
    display: flex; /* Make links stretch */
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: white;
    padding: 0px 40px;
    text-decoration: none;
    height: 100%; /* Fill li height */
}

ul#nav a:hover {
    color: black;
    background-color: white;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}