p {
    font-weight: 300;
}

body {
    background-color: #9ACAE0;
    color: #333;
}

.shop h2, .shop h3 {
    text-align: center;
}

 .shop h2 {
    font-size: 55px;
/*     margin-top: 50px; */
/*     margin-left: auto; */
/*     margin-right: auto; */
    /*margin-bottom: 30px; */
    font-weight: 450;
}
 
.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.product {
    background: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    position: relative;
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.product h3 {
    margin: 10px 0;
}

.price {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.flex-container {
    display: flex;
}

.subscribe-section, .zipcode-section, .order-summary {
    text-align: center;
    margin: 20px 0;
    width: 33%;
}

.subscribe-section h3, .zipcode-section h3, .order-summary h3 {
    margin-bottom: 10px;
}

.subscribe-section label {
    display: inline-block;
    margin: 10px 5px;
    font-size: 18px;
    font-weight: 300;
}

.zipcode-section {
    width: 33%;
    margin: 0 auto;
    text-align: center;
}

.zipcode-section h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.zipcode-section .input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.zipcode-section input[type="text"], .zipcode-section button,
.order-summary input[type="tel"], .order-summary button {
    font-size: 16px;
    margin: 10px;
    padding: 10px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.message {
    font-size: 18px;
    margin-top: 10px;
}

.message.success {
    color: green;
}

.message.error {
    color: red;
}

.order-summary {
    padding: 16px;
    text-align: center; /* Aligns all text to the center */
    display: flex;
    flex-direction: column; /* Arranges children in a column */
    align-items: center; /* Centers children horizontally */
    width: 33%;
    margin: 0 auto; /* Centers the order-summary div itself */
}

.order-summary p {
    margin: 8px 0;
    text-align: center;
}

.cart-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.cart-controls button {
    background-color: #333;
    color: white;
    padding: 5px 12px;
    margin: 0 5px;
    font-size: 16px;
}

.cart-controls button:hover {
    background-color: #9ACAE0;
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }
    .subscribe-section, .zipcode-section, .order-summary {
        width: 80%;
    }
}
