/* Big pitcure css */
body {
    font-family: Verdana, sans-serif;
    background-color: white;
    color: rgba(255, 255, 255, 0.896);
    margin: 0;
    line-height: 1.7;
}

nav {
    display: flex;
    height: 50px;
    justify-content: center;
    background: #14225A;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
} 

nav :hover {
    background-color: #ab0003;
  }

  nav a {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    padding: 0 2rem;
  }
  

section {
    width: 50%;
    margin: 4rem auto;
    padding: 2.5rem;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: black;
    margin-bottom: 1.5rem;
}

p {
    text-align: left;
    font-size: 1.05rem;
    color: black;
    margin-bottom: 1.3rem;
}

th, td {
    border: 1px solid black;
    padding: 0.6rem;
    text-align: left;
    font-size: 0.95rem;
    color: black;
}

th {
    background-color: black;
}

footer {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #e5e7eb;
    color: #6b7280;
    font-size: 0.9rem;
    margin-top: 4rem;
}

/* Profile picture */
.centered-image {
    display: block;
    margin: 0 auto;
    width: 20%;
}